@font-face {
    font-family: "Miama";
    src: url("Days.otf");
    }

body {
    background-color: #000;
    color: #FFF;
    font-family: 'Miama';
    padding: 3px;
    margin: 0px;

}

.wrapper {
    width: 24%;
    border-left: 1px dotted #666;
    border-right: 1px dotted #666;
    float: left;    
}

.content {
    min-height: 600px;
    font-size: 4.5em;
    text-align: center;    
}

/* VALUES */
.valueField {
    border-right: 1px dotted #666;
    min-height: 270px;
    text-align: center;
    font-size: 4vw;
    padding-top: 100px;
}

.valueField div {
    color: #666;    
    text-align: center;
    font-size: 3vw;
    margin-top: -40px;
}


.lfoWaveBg {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 90%;
}

.lfoSine {
    background-image: url('/sine.png');
    background-position: center;
    background-repeat: no-repeat;
}
.lfoSaw {
    background-image: url('/saw.png');
    background-position: center;
    background-repeat: no-repeat;
}
.lfoSquare {
    background-image: url('/square.png');
    background-position: center;
    background-repeat: no-repeat;
}   
.lfoTri {
    background-image: url('/tri.png');
    background-position: center;
    background-repeat: no-repeat;
} 


/* buttons */
.btnWrapper {
    max-width: none;
    margin-bottom: 10px;
}
.btnWrapperBottom {
    max-width: none;
    margin-bottom: 0px;
}

.btnBg {    
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-right: 4px solid #000;
    padding: 20px 20px 20px 20px;
    background-color: #333;
}

.btnBg div {    
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    
}

.btnBgBottom {    
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    border-right: 4px solid #000;
    padding: 0px 20px 05px 20px;
    background-color: #333;
}

.btnBgBottom span{ 
    font-size: 2.5vw;
    color: #FFF;   
}

.btnBgBottom div{ 
    font-size: 2.5vw;
    color: #000;   
}

.btnBgBottom {    
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    border-right: 4px solid #000;
    padding: 20px 20px 20px 20px;
    background-color: #333;
}

.btnColor_top {
    background-color:#64AEED;
    color: #FFF;    
}

.btnColor_bottom {
    color:#F9AC44;
    color: #FFF;    
}

.btnColor_track {
    background-color:#F9AC44;
    color: #FFF;    
}
.btnColor_back {
    background-color: #1D1D1D;
    color: #FFF;    
}
.btnColor_grey {
    background-color: #666;
    color: #FFF;    
}
.btnColor_edit {
    background-color: rgb(255, 153, 0);
    color: #000;    
}
.btnColor_lfo {
    background-color: rgb(255, 153, 0);
    color: #000;    
}
.btnColor_pattern {
    background-color: rgb(255, 153, 0);
    color: #000;    
}

.hideOnInit {
    display: none;
}

.trackInfoWrapper {
    max-width: none;
    text-align: center;
    font-size: 3em;
    
    padding: 20px 0px 20px 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container {
    padding-left:  0px !important;
    padding-right: 0px !important;
}


/* trackMenu */
.prPosWrapperOuter {
    height: 256px;
    position: fixed;
    top: 89px;
    width: 100%;
}
.prPosWrapper {    
    position: absolute;
    z-index: 100;
}
.prPosBit {
    border-top: none;
    border-bottom: none;
    margin-bottom: 1px;
    background-color: aqua;
    float: none !important;
    height: 15px;
    float: left;
    text-align: center;
    opacity: 0.5;
}

.valueWrapper {
    display: block;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.pianoRollWrapper {
    display: none;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.ctrlDashboardWrapper {
    display: block;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 270px;
    padding-top: 20px;
    font-size:50px;
    text-align: center;
}

.ctrlDashboardWrapperValues {
    display: block;    
    margin: 0 auto;
    font-size:50px;
    text-align: center;
}


.prRowWrapper {
    display: block;
    overflow: auto;

}

.prRowBit {
    
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #333;
    margin-bottom: 1px;
    
    height: 15.8px;
    float: left;
    text-align: center;
}

.prRowBitLabel_full { 
    margin-bottom: 1px; 
    border-right: 2px solid #333;   
    height: 15px;
    float: left;
    font-size: 11px;
    text-align: center;
    background-color: #F0F0F0;
    color: #333;
    font-weight: bold;
}

.prRowBitLabel_half {    
    margin-bottom: 1px;   
    border-right: 2px solid #333; 
    height: 15px;
    float: left;
    font-size: 11px;
    text-align: center;
    background-color: #333;
    color: #FFF;
    font-weight: bold;
}

.prNoteInner_half {
    display: block;
    height:10px;
    margin: 3px;
    background-color: #CCC;
}
.prNoteInner_full {
    display: block;
    height:10px;
    margin: 3px;
    background-color: #FFF;
}

.prNoteSet {
    background-color: #FF5F4F;
}


.full {
    background-color: #FFF;
    color: #333;       
}

.half {
    background-color: #CCC;  
    color: #FFF;     
}

.pos_full {
    background-color: rgb(255, 219, 13);   
    border-right: 1px solid #000;    
}

.pos_half {
    background-color: rgb(255, 219, 13);           
    border-right: 1px solid #333;
}


/* SPLASHSCREEN */
.splashBG {
    background-image: url('/splash.png');
    background-repeat: no-repeat;
    background-position: center top;

    display: block;
    height: 470px;
}

.splashInfo {
    font-size: 2vw;
    color: #CCC;
    text-align: center;
    padding-top: 155px; 
}


.splashInfo2 {
    font-size: 4vw;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding-top: 20px; 
}




.mainWrapper {
    display: none;
}



.trackBtn {
    width: 70%;
    height: 20px;
    background-color: #444;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;  
}

.trackBtn_on {    
    background-color: #FCA503;   
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252,165,3,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(252,165,3,1);
    box-shadow: 0px 0px 5px 0px rgba(252,165,3,1);    
}


.displayLockedTitle {
    padding-top: 15px;
    font-size: 18px;
    color: #FF0000;
}
.displayLocked_enc {
    display:none;
    margin-top: 45px;
    height: 110px;
    background-image: url('/encBg_big.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 30px;
    font-size:30px;
}
.displayLocked_poti { 
    display: none;
    padding-top: 10px;
    font-size:30px;
}
.displayLocked_fader {
    display: none;
    padding-top: 20px;
    font-size:30px;
}


.ctrlDisplayTrackCol {
    width: 60px;
    text-align:center; 
    border-right: 2px solid #000;
    border-left: 1px solid #333;
    background-color: rgb(15, 15, 15);
    float: left;
}

.bg_enc {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
    background-image: url('/encBg.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 6px 3px;
    height: 50px;
    padding-top: 15px;
}

.bg_enc_locked {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
    background-image: url('/encBg_grey.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 6px 3px;
    height: 50px;
    padding-top: 15px;
}

.bg_btn {
    text-align: center;
}

.bg_poti {    
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.bg_filter {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    height: 100px;
}

.bg_fader {
    text-align: center;    
    height: 110px;
    margin-top: -30px;
}

.bg_trackNr {
    text-align: center;    
    height: 25px;
    font-weight: bold;
}



.faderOuter {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 100px;
    background-color: #FFF;    
}

.faderOuter_locked {
    display: block;
    width: 20px;
    height: 100px;
    background-color: #666666;    
}

.faderInner {
    display: block;
    width: 20px;
    background-color: #333;    
}

.ctrlDisplayMiddle {    
    width: 314px;
    height: 475px;
    text-align: center; 
    border-right: 4px solid #666;
    border-left: 4px solid #666;
    float: left;
}

.displayActScene {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;    
    width:70%;
    background-color: #1d1d1d;
    border: 4px solid #333;
    border-radius: 15px;
    color: #CCC;
}

.displayActSceneVal {
    font-size: 100px;
    height:130px;
    color: #FCA503;
    margin-top: -25px;
}


.displayTrackMode {
    font-size: 15px;
    margin: 0 auto;
    margin-top: 20px; 
    padding: 10px;   
    width:70%;
    background-color: #1d1d1d;
    border: 4px solid #333;
    border-radius: 10px;
    color: #CCC;
}

.displayTrackModeVal {
    color: #FFF;
}
