<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_top">
                        back    
                    </div> 
                    <div class="col-3 btnBg ">                           
                    </div>  
                    <div class="col-3 btnBg ">                         
                    </div>  
                    <div class="col-3 btnBg " style="border-right: none;">                           
                    </div>  
                </div>            
            </div>

            <div class="valueWrapper" id="valueWrapper">
                <div class="row">
                    <div class="col-3 valueField ">
                        off    
                    </div> 
                    <div class="col-3 valueField ">
                           
                    </div>  
                    <div class="col-3 valueField ">
                          
                    </div>  
                    <div class="col-3 valueField " style="border-right: none;">
                           
                    </div>  
                </div>   
            </div>
            
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBgBottom btnColor_track">
                        midiclock    
                    </div> 
                    <div class="col-3 btnBgBottom btnColor_track">
                        flip shift/mute    
                    </div>  
                    <div class="col-3 btnBgBottom ">
                         
                    </div>  
                    <div class="col-3 btnBgBottom ">
                          
                    </div>  
                </div>            
            </div>


    </body>

</html> 