<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <script src="/jquery-3.3.1.min.js"></script>
        <script src="/menu.js"></script>
    </head>
    <body>


        
        <div id="trackMenu">

            <!-- MENU TOP -->
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_top" id="menuTop_btn1">EDIT</div> 
                    <div class="col-3 btnBg btnColor_top" id="menuTop_btn2">LFO 1</div>  
                    <div class="col-3 btnBg btnColor_top" id="menuTop_btn3">LFO 2</div>  
                    <div class="col-3 btnBg btnColor_top" style="border-right: none;" id="menuTop_btn4">BLA</div>  
                </div>            
            </div>

            <!-- CONTENT MAIN -->
            <div class="mainSection" id="mainFile">
                <div class="fileLoadSave">
                    <div class="fileLabel" id="fileLabel"></div>
                    <div class="fileInput" id="fileInput">sdfsdf</div>
                </div>
            </div>
            <!-- OPTIONS CONTENT  -->
            <div class="container mainWrapper" id="mainContent">
                 
            </div> 
            <!-- OPTIONS FILE  -->
            <div class="container mainWrapper" id="mainOptions">
                <div class="row" style="width:100%;">                    
                    <div class="col-3 mainOption" id="mainOption1"></div> 
                    <div class="col-3 mainOption" id="mainOption2"></div>  
                    <div class="col-3 mainOption" id="mainOption3"></div>  
                    <div class="col-3 mainOption" style="border-right:none;" id="mainOption4"></div>                      
                </div>            
            </div> 
            
            <!-- OPTIONS BOTTOM -->
            <div class="container btnWrapperBottom" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBgBottom btnColor_track" id="encBottom1">
                        <div id="menuBottom_1_label"></div>
                        <div id="menuBottom_1_val"></div>  
                    </div> 
                    <div class="col-3 btnBgBottom btnColor_track" id="encBottom2">
                        <div id="menuBottom_2_label"></div>  
                        <div id="menuBottom_2_val"></div>   
                    </div>  
                    <div class="col-3 btnBgBottom btnColor_track" id="encBottom3">
                        <div id="menuBottom_3_label"></div> 
                        <div id="menuBottom_3_val"></div>  
                    </div>  
                    <div class="col-3 btnBgBottom btnColor_track" id="encBottom4">
                        <div id="menuBottom_4_label"></div>   
                        <div id="menuBottom_4_val"></div>  
                    </div>  
                </div>            
            </div> 
    </div>
    

    </body>
</html> 