<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_track">
                        back    
                    </div> 
                    <div class="col-3 btnBg "> 
                            lfo A 
                    </div>  
                    <div class="col-3 btnBg ">                         
                    </div>  
                    <div class="col-3 btnBg " style="border-right: none;">                                                  
                    </div>  
                </div>            
            </div>

            <div class="valueWrapper" id="valueWrapper">
                <div class="row">
                    <div class="col-3 valueField ">
                        <div>track 1</div>
                        filter   
                    </div> 
                    <div class="col-3 valueField ">
                        <div class="lfoWaveBg lfoTri"></div>   
                    </div>  
                    <div class="col-3 valueField ">
                        100  
                    </div>  
                    <div class="col-3 valueField " style="border-right: none;">
                          127 
                    </div>  
                </div>   
            </div>
            
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_track">
                        ctrl    
                    </div> 
                    <div class="col-3 btnBg btnColor_track">
                        wave    
                    </div>  
                    <div class="col-3 btnBg btnColor_track">
                        freq  
                    </div>  
                    <div class="col-3 btnBg btnColor_track">
                        amp   
                    </div>  
                </div>            
            </div>


    </body>

</html> 