<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_track">
                        back    
                    </div> 
                    <div class="col-3 btnBg "> 
                            load 
                    </div>  
                    <div class="col-3 btnBg ">  
                        save                       
                    </div>  
                    <div class="col-3 btnBg " style="border-right: none;">  
                        clear                                                
                    </div>  
                </div>            
            </div>

            <div class="valueWrapper" id="valueWrapper">
                <div class="row">
                    <div class="col-12 valueField ">
                        <div>pattern</div>
                        blablabla   
                    </div>                     
                </div>   
            </div>
            
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg ">   
                                           
                    </div> 
                    <div class="col-3 btnBg ">                           
                    </div>  
                    <div class="col-3 btnBg ">                          
                    </div>  
                    <div class="col-3 btnBg ">                           
                    </div>  
                </div>            
            </div>


    </body>

</html> 