<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg btnColor_track">
                        back    
                    </div> 
                    <div class="col-3 btnBg "> 
                             
                    </div>  
                    <div class="col-3 btnBg ">  
                                               
                    </div>  
                    <div class="col-3 btnBg " style="border-right: none;">  
                        save                                                
                    </div>  
                </div>            
            </div>

            <div class="valueWrapper" id="valueWrapper">
                <div class="row">
                    <div class="col-12 valueField ">
                        <div>save pattern</div>
                        blabl   
                    </div>                     
                </div>   
            </div>
            
            <div class="container btnWrapper" id="btnWrapperTop">
                <div class="row">
                    <div class="col-3 btnBg ">   
                                           
                    </div> 
                    <div class="col-3 btnBg "> 
                        <div>position</div>                          
                    </div>  
                    <div class="col-3 btnBg "> 
                            <div>character</div>                          
                    </div>  
                    <div class="col-3 btnBg ">  
                            <div>backspace</div>                          
                    </div>  
                </div>            
            </div>


    </body>

</html> 